<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale= l"/>
    <link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/style.css' %}">
    <script src="{% static 'frontend/assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

</head>
<body id="site">
<nav class="nav-container col-12">
    <div class="menu-header-top row justify-content-end">
        {% if user.is_authenticated %}
        <div class="d-flex col-2 justify-content-end">
            <div class="">
                <a class="link-a" href="{{ request.user.get_url }}">{{ user.username }}</a>
            </div>
            <div class="">
                <a class="link-a" href="{% url 'logout' %}">Выход</a>
            </div>
        </div>

        {% else %}
        <div class="d-flex col-2 justify-content-end">
            <div class="">
                <a class="link-a" href="{% url 'login' %}">Вход</a>
            </div>
            <div class="">
                <a class="link-a" href="{% url 'register' %}">Регистрация</a>
            </div>
        </div>

        {% endif %}
    </div>
</nav>
<div class="container-fluid menu-header-logo р-1 text-center">
    <div class="row py-2">
        <div class="col-2 text-start" style="padding-left: 82px;">
            <img src=" {% static 'frontend/assets/img/logo.png' %} " width="70" height="70"/>
        </div>
        <div class="col-10 align-self-center;">
            <h1 class="pt-2 marquee">Коллекция лучщих книг народов мира</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center;">
        <div class="col-lg-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="categoriesDropdown"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Все жанры
                    <i class="bi bi-chevron-down"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                    <!-- Список жанров -->
                    <li v-for="genre in genres" :key="genre.id">
                        <a class="dropdown-item" :href="genre.href">${ genre.name }$</a>
                    </li>
                    <!-- Список жанров -->
                </ul>
            </div>
        </div>

        <div class="col-lg-6">
            <form class="form form_search" @submit.prevent="search()">
                <div class="input-group">
                    <input class="form-control" id="query" name="query" type="text" v-model="searchText"
                           placeholder="Что Вы ищете ..."/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="bi bi-search"></i>
                            Поиск
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid p-0">
    <div class="row col-12 m-0">
        <div class="menu-site col-12 d-flex justify-content-center align-items-center">
            <a class="menu-item d-flex" href="{% url 'index' %}">Главная страница</a>
            <a class="menu-item d-flex mx-3" href="{% url 'book-list' %}">Книги</a>
            <a class="menu-item d-flex" href="{% url 'index' %}">Авторы</a>
        </div>
    </div>
</div>

{% block content %}
{% endblock content %}

<div class="container-fluid">
    <div class="row bg-primary text-center text-white lh-1">
        {% block footer %}
        <p>Это nодвал (footer) всех страниц сайта</p>
        {% endblock footer %}
    </div>
</div>
</div>


{% block mixins %}
{% endblock %}

<script src="{% static 'frontend/assets/js/app.js' %}"></script>
</body>
</html>
